@model Meet_and_Copmete_Capstone.Models.EventPlaner
@{ ViewData["Title"] = "Upload"; }

<div>
    Image Upload Page
</div>
<div id="FileUploadId">
    <form id="FormId">
        <input id="myImage" type="file" />
        <button type="submit">Submit</button>
    </form>
</div> 