@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Welcome to Meet And Compete.</h1>
        <h3 class=" alert-success"> Your one stop For the table top.</h3>
</div>
